.btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    box-shadow: 0 0 20px rgb(255,0,150);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.sptfy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 0, 150);
}

.flex img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}